html{
    overflow: hidden;
}
body{
    overflow: hidden;
    background:radial-gradient(circle at center,#575761,#262335);
}



#renderCanvas{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#wish{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg,#F3EDC8,#EAD196,#BF3131,#7D0A0A);
    background-size: 400% 400%;
    color: transparent;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#quote{
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 30%;
    text-align: center;
    color: antiquewhite;
    text-decoration: wavy;
    font-family: cursive;
    font-size: x-large;
}

#grad{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#00000000,#000000);

}

#santa{
    position: absolute;
    top: 50%;
    left:0px;
    aspect-ratio: 2.53;
    width:20%;
    z-index: 3;
}

#santa img{
    position: relative;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
}


#clickQuery {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    color: aliceblue;
    transition-property: color;
    transition-duration: 3s;
}

#share{
    z-index: 5;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 10%;
    height: 5%;
    margin-top: 0%;
}
#share img{
    position: relative;
    top: 0%;
    left:0%;
    height: 100%;width: 100%;
}
#shareButton{
    position: relative;
    top: -100%;
    left:0%;
    width: 100%;
    height: 100%;
    background-color: #00000000;
}

#author{
    z-index: 6;
    position: absolute;
    top: 90%;
    left: 90%;
    color:antiquewhite;

}