
body{
    overflow: hidden;
    background:radial-gradient(circle at center,#575761,#262335);
}



#renderCanvas{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}




